<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1号店</string>
		<key>tag</key>
		<string>0</string>
		<key>selected</key>
		<false/>
		<key>introduction</key>
		<string>XXXXXXXXXXXXXXXXX</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<string>10.00</string>
				<key>tag</key>
				<string>0</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 0</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>10.5</string>
				<key>tag</key>
				<string>1</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 1</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>23</string>
				<key>tag</key>
				<string>2</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 2</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>2号店</string>
		<key>tag</key>
		<string>1</string>
		<key>selected</key>
		<false/>
		<key>introduction</key>
		<string>XXXXXXXXXXXXXXXXX</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<string>10.00</string>
				<key>tag</key>
				<string>0</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 3</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>10</string>
				<key>tag</key>
				<string>1</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 4</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>10</string>
				<key>tag</key>
				<string>2</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 5</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>3号店</string>
		<key>tag</key>
		<string>2</string>
		<key>selected</key>
		<false/>
		<key>introduction</key>
		<string>XXXXXXXXXXXXXXXXX</string>
		<key>goods</key>
		<array>
			<dict>
				<key>price</key>
				<string>10</string>
				<key>tag</key>
				<string>6</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 6</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>10</string>
				<key>tag</key>
				<string>7</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 7</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
			<dict>
				<key>price</key>
				<string>10</string>
				<key>tag</key>
				<string>8</string>
				<key>selected</key>
				<false/>
				<key>name</key>
				<string>Message - 8</string>
				<key>introduction</key>
				<string>XXXXXXXXXXXXXXXXX</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
